{{#> partialBase navigationPartialName="partialTagIndexNavigation" title="Archive of all posts since the beginning of time"}}
<ul>
{{#each posts}}
<li>{{> partialArticleSummary linkPrefix=../rootPath}}</li>
{{/each}}
</ul>
{{/partialBase}}
