{{#> basePartial navigationPartialName="navigationPostPartial"}}
<article>
<header>
<h1><a href="index.html">{{title}}</a></h1>
{{> datePartial}}
</header>
{{{contents}}}
<footer>
<p><a href="{{rootPath}}index.html">Back to home</a></p>
</footer>
</article>
{{/basePartial}}
