{{#> basePartial navigationPartialName="navigationRootPartial" isRoot=true description=site.description}}
<ul>
{{#each posts_recent}}
<li>{{> articleSummaryPartial}}</li>
{{/each}}
</ul>
<footer>
<p><a href="posts/index.html">See all articles</a> or subscribe to the <a href="feed.xml">Atom feed</a></p>
</footer>
{{/basePartial}}
